hoist = true
hoist-workspace-packages = true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=lerna
public-hoist-pattern[]=cabloy
public-hoist-pattern[]=@cabloy
public-hoist-pattern[]=*cabloy*
public-hoist-pattern[]=*@cabloy*
public-hoist-pattern[]=*zova*
link-workspace-packages = 'deep'
prefer-workspace-packages = true
